.carousel-item {
    position: relative;
    display: none;
    float:left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;

}

#nossosProdutos {
    display: flex;
   flex-direction: column;
}

.card {
    text-align: center;
}

#quemSomos{
    border-radius: 25px;
}